<div class="module" id="recent-badges">
	<h4 id="h-recent-badges">最近徽章</h4>
	<table>
		<tr><td>
			<a href="/badges/24/good-answer?userid=199245" title="silver badge: Answer score of 25 or more" class="badge"><span class="badge2"></span>&nbsp;Good Answer</a>
	 		<a href="/users/199245/ray-burns" >Ray Burns</a>
	 	</td></tr>
		<tr><td>
			<a href="/badges/12/strunk-white?userid=154152" title="silver badge: Edited 100 entries" class="badge"><span class="badge2"></span>&nbsp;Strunk &amp; White</a>
	 		<a href="/users/154152/noon-silk" >Noon Silk</a>
	 	</td></tr>
		<tr><td>
			<a href="/badges/805/sportsmanship?userid=220819" title="silver badge: Up voted 100 competing answers" class="badge"><span class="badge2"></span>&nbsp;Sportsmanship</a>
	 		<a href="/users/220819/jacob-relkin" >Jacob Relkin</a>
	 	</td></tr>
	</table>
	<p class="ar"><a href="/badges">所有徽章 &raquo;</a></p>
</div>