<div class="module" id="recent-tags">
	<h4 id="h-recent-tags">最近标签</h4>
	<div id="recent-tags-list">
		<a href="/questions/tagged/windows-phone-7" class="post-tag" title="show questions tagged 'windows-phone-7'" rel="tag">windows-phone-7</a><span class="item-multiplier">&times;&nbsp;4</span><br>
		<a href="/questions/tagged/bing-maps" class="post-tag" title="show questions tagged 'bing-maps'" rel="tag">bing-maps</a><span class="item-multiplier">&times;&nbsp;2</span><br>
		<a href="/questions/tagged/database" class="post-tag" title="show questions tagged 'database'" rel="tag">database</a><span class="item-multiplier">&times;&nbsp;20</span><br>
		<a href="/questions/tagged/mobile" class="post-tag" title="show questions tagged 'mobile'" rel="tag">mobile</a><span class="item-multiplier">&times;&nbsp;2</span><br>
		<a href="/questions/tagged/android" class="post-tag" title="show questions tagged 'android'" rel="tag">android</a><span class="item-multiplier">&times;&nbsp;50</span><br>
	</div>
	<p class="ar"><a href="/tags">所有标签 &raquo;</a></p>
</div>