<!DOCTYPE html>
<html>
	<head>
		<title>wenda.it</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
		<%= csrf_meta_tag %>
	</head>
<body>

<%= yield %>

</body>
</html>
